{% extends 'base.html.twig' %}

{% block title %}FunStock !{% endblock %}

{% block javascripts %}
    
{% endblock %}

{% block body %}

<div class="main_boxes_row">
    <div class="main_box">
        <h1 class="main_box_title">Your results (last 30 days)</h1>
    </div>
    <div class="main_box">
        <h1 class="main_box_title">Challenge your friends</h1>
        <div id="challenge_friends_box_wrapper">
            <div class="profile_box_container">
                <div class="profile_picture_container">
                    <img src="{{ asset('uploads/profile_man.jpg') }}">
                </div>
                <h3>Jack</h3>
            </div>
            <div class="stock_valuation_box_container">
                <h3>Stock Valuation</h3>
                <div>
                    <div>+ 7%</div>
                    <i class="fa-solid fa-rocket"></i>
                </div>
            </div>
            <div class="last_fights_box">
                <div>3 wins</div>
                <i class="fa-solid fa-trophy"></i>
                <div>2 losses</div>
                <i class="fa-solid fa-skull-crossbones"></i>
            </div>
            <a class="fight_btn" href="#fight_modal">
                <div class="not-clickable">Fight Jack</div>
                <i class="fa-solid fa-bomb not-clickable"></i>
            </a>
        </div>
    </div>
</div>
<div class="main_boxes_row">
    <div class="main_box">
        <h1 class="main_box_title">My battle requests</h1>
        <div id="battle_requests_box_wrapper">
            <div class="profile_box_container">
                <div class="profile_picture_container">
                    <img src="{{ asset('uploads/profile_man.jpg') }}">
                </div>
                <h3>Jack</h3>
            </div>
            <div id="view_challenge_btn">View the challenge</div>
            <div id="pending_challenge_btn">
                <span>Pending...</span>
                <i class="fa-regular fa-clock"></i>
            </div>
        </div>
    </div>
    <div class="main_box">
        <h1 class="main_box_title">Buy or sell stocks</h1>
        <div id="buy_sell_stock_box_wrapper">
            <div id="buy_sell_stock_toggle_btn">Buy / Sell</div>
            <div id="buy_stock_box_amount">0 $</div>
            <div>
                <div id="buy_stock_box_stock_choice_btn">
                    <div class="stock_logo_container">
                        <img src="{{ asset('uploads/apple_logo.png')}}">
                    </div>
                </div>
                <h2>Apple<h2>
            </div>
            <div id="buy_sell_stock_submit_btn">Buy stocks<div>
        </div>
    </div>
</div>
{% include 'fightModal.html.twig' %}
{% endblock %}
