/* General properties */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* { 
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #e280fc;
}

.main_nav_bar {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.body_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-clickable {
    pointer-events: none;
}

a {
    text-decoration: none;
}

/* Home page */

.main_boxes_row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.main_box {
    background: #FFF;
    border-radius: 15px;
    padding: 0px 30px 30px 30px;
    width: 45%;
}

.main_box_title_container {
    text-align: center;
    margin-bottom: 40px;
}

.main_box_title {
    font-size: 30px;
}

#challenge_friends_box_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.profile_picture_container {
    width: 50px;
    height: 50px;
}

.profile_picture_container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.progress_bar {
    background-color: #4DBD95;
    border-radius: 20px;
    height: 30px;
    width: 100px;
}

.progress-done {
    background: linear-gradient(to left, #2D49A0, #08a2ff);
    box-shadow: 0 3px 3px -5px #08a2ff, 0 2pc 5pc #08a2ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease;
}

.battle_btn {
    background: black;
    padding: 20px;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Battle requests box */

.battle_request_box_wrapper {
    display: flex;
}

.view_battle_request_btn {
    padding: 10px;
    border-radius: 15px;
    background: black;
    color: white;
}

.accept_battle_request_btn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    border: solid black 1px;
    background: #8cff87;
}

.accept_battle_request_btn:hover {
    background: #88ffa7;
}

.decline_battle_request_btn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    border: solid black 1px;
    background: #e73e3d;
}

.decline_battle_request_btn:hover {
    background: #f18277;
}

.pending_inbound_battle_request_disclaimer_container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    border: solid black 1px;
}

/* Buy or sell stocks box */

#buy_sell_stock_box_wrapper {
    border-radius: 15px;
    border: solid black 1px;
    padding: 15px;
}

#buy_or_sell_stocks_form #amount_and_currency {
    display: flex;
    justify-content: space-between;
}

#buy_or_sell_stocks_form #stock_amount_input,
#buy_or_sell_stocks_form #currency_symbol
{
    font-size: 50px;
}

#buy_or_sell_stocks_form #stock_amount_input {
    border: none;
    width: 80%;
    text-align: center;
}

#buy_or_sell_stocks_form #currency_symbol {
    width: 10%;
}

#buy_or_sell_stocks_form #buy_stock_container {
    display: flex;
    justify-content: space-around;
}

#buy_or_sell_stocks_form #stock_amount_input:focus {
    outline: none;
    border: none;
}


#buy_or_sell_stocks_form #stock_input {
    width: 60%;
    height: 60px;
    padding: 20px;
    margin-left: 30px;
    width: 80%;
    border-radius: 10px;
}

#buy_or_sell_stocks_form #buy_stock_contextual_text {
    font-size: 30px;
    display: flex;
    align-items: center;
}

#buy_or_sell_stocks_form #submit_btn_container {
    margin-top: 10px;
    text-align: center;
}

#buy_or_sell_stocks_form #submit_btn {
    background: #69cb96;
    padding: 8px;
    border-radius: 15px;
    border: solid black 1px;
    width: 20%;
    cursor: pointer;
}

#buy_or_sell_stocks_form #submit_btn:hover {
    background: #c5e5b9;
}

/* Battle modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_wrapper {
    width: 360px;
    height: 400px;
    margin: 8% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.modal_wrapper .form {
    position: absolute;
    top: 100px;
    left: 40px;
    transition: 0.5s;
}

#battle_form #stock_input {
    width: 30%;
}

#battleModal_step2 {
    left: 450px;
}

#battleModal_step3 {
    left: 450px;
}

#battleModal_step4 {
    left: 450px;
}