/* General properties */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* { 
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a:focus { 
    text-decoration: none !important; 
    outline: none;
    -moz-outline-style: none;
}

body {
    background-color: #e280fc;
}

/* login page */

#login_form_container {
    display: flex;
    justify-content: center;
}

#login_form {
    margin-top: 60px;
    background: #dddfed;
    border-radius: 10px;
    width: 35%;
    padding: 30px;
    height: 400px;   
}

#login_form_title {
    text-align: center;
}

#login_form input {
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    padding-left: 15px;
}

#login_form button {
    border-radius: 10px;
    margin-top: 20px;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.main_nav_bar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 40px;
    margin-right: 60px;
}

.main_nav_bar a {
    padding: 5px;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: bold;
}

.body_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-clickable {
    pointer-events: none;
}

a {
    text-decoration: none;
}

/* Home page */

.main_boxes_row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.main_box {
    background: #FFF;
    border-radius: 15px;
    padding: 0px 30px 30px 30px;
    width: 48%;
    margin-bottom: 10px;
}

.main_box_title_container {
    text-align: center;
    margin-bottom: 50px;
}

.main_box_title {
    font-size: 20px;
}

/* Stats box */

#stats_buttons_container {
    display: flex;
    margin-bottom: 20px;
}

.stats_button {
    padding: 10px;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

#wins_stats_button {
    background: #a6d9b4;
}

#wins_stats_button:hover {
    background: #7affd3;
}

#stock_valuation_stats_button {
    background: #209fd8;
}

#stock_valuation_stats_button:hover {
    background: #85ffff;
}

.stats_chart {
    width: 400px;
    height: 400px;
}

/* Battle box */

#battle_friends_box_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.profile_box_container {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_picture_container {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.profile_picture_container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.progress_bar {
    background-color: #4DBD95;
    border-radius: 20px;
    height: 30px;
    width: 100px;
}

.progress-done {
    background: linear-gradient(to left, #2D49A0, #08a2ff);
    box-shadow: 0 3px 3px -5px #08a2ff, 0 2pc 5pc #08a2ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease;
}

#battle_form h2 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 25px;
}

.chosen_stock_container {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: solid black 0.3px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.1px 0.3px -5px #98e9e7, 0 0.3pc 1pc #e873fe;
}

#buy_or_sell_stocks_form .chosen_stock_container {
    width: 100%;
}

.battle_btn_container {
    display: flex;
    align-items: center;
    width: 30%;
}

.battle_btn {
    background: black;
    padding: 15px 25px 15px 15px;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 100%;
    height: 80px;
    position: relative;
}

.battle_btn:hover {
    background: rgba(0, 0, 0, 0.73);
}

.battle_stats_box_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    font-size: 12px;
}

#winned_battles_box {
    background: rgba(15, 182, 0, 0.83);
    box-shadow: 0 0.1px 0.3px -5px rgba(15, 182, 0, 0.83), 0 0.3pc 1pc rgba(42, 227, 26, 0.72);
}

#winned_battles_box i {
    color: #ffd208;
}

#lost_battles_box {
    background: rgba(249, 3, 18, 0.72);
    box-shadow: 0 0.1px 0.3px -5px rgba(238, 22, 87, 0.96), 0 0.3pc 1pc rgba(249, 3, 18, 0.72);
}

.battle_stats_box {
    border-radius: 15px;
    padding: 11px;
    display: flex;
    justify-content: space-around;
    border: solid black 0.3px;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.battle_stats_box i {
    margin-left: 10px;
}

.battle_btn .fight_text {
    font-size: 17px;
}

.battle_btn i {
    font-size: 20px;
    margin-left: 20px;
}

/* Battle requests box */

.battle_request_box_wrapper {
    display: flex;
    height: 80px;
    margin-bottom: 15px;
}

.battle_request_btn {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    color: white;
}

.view_battle_request_btn {
    padding: 10px;
    border-radius: 15px;
    background: black;
}

.view_battle_request_btn:hover {
    background: rgba(0, 0, 0, 0.73);
}

.accept_battle_request_btn {
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    border: solid black 1px;
    background: rgba(15, 182, 0, 0.83);
    box-shadow: 0 0.1px 0.3px -5px rgba(15, 182, 0, 0.83), 0 0.3pc 1pc rgba(42, 227, 26, 0.72);
}

.accept_battle_request_btn i,
.decline_battle_request_btn i {
    margin-left: 15px;
}

.accept_battle_request_btn:hover {
    background: #88ffa7;
}

.decline_battle_request_btn {
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    border: solid black 1px;
    background: #e73e3d;
}

.decline_battle_request_btn:hover {
    background: #f18277;
}

.pending_inbound_battle_request_disclaimer_container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    border: solid black 1px;
}

/* Buy or sell stocks box */

#buy_sell_stock_box_wrapper {
    border-radius: 15px;
    border: solid black 1px;
    padding: 15px;
}

#buy_or_sell_stocks_form #amount_and_currency {
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-bottom: 15px;
}

#buy_or_sell_stocks_form #currency_symbol {
    display: flex;
    align-items: center;
    font-size: 30px;
}

#buy_or_sell_stocks_form #stock_amount_input {
    border: none;
    width: 30%;
    text-align: left;
    font-size: 50px;
}

.buy_or_sell_stocks_form_choose_stock_btn {
    width: 60%;
}

#buy_or_sell_stocks_form #currency_symbol {
    width: 10%;
}

#buy_or_sell_stocks_form #buy_stock_container {
    display: flex;
    justify-content: space-around;
}

#buy_or_sell_stocks_form #stock_amount_input:focus {
    outline: none;
    border: none;
}


#buy_or_sell_stocks_form #stock_input {
    width: 60%;
    height: 60px;
    padding: 20px;
    margin-left: 30px;
    width: 80%;
    border-radius: 10px;
}

#buy_or_sell_stocks_form #submit_btn_container {
    margin-top: 10px;
    text-align: center;
}

#buy_or_sell_stocks_form #submit_btn {
    background: linear-gradient(0deg, #ffc2f0, rgba(233, 43, 111, 0.47));
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 15px;
    border: solid black 1px;
    width: 40%;
    cursor: pointer;
    box-shadow: 0 0.1px 0.3px -5px #98e9e7, 0 0.3pc 1pc #e873fe;
}

#buy_or_sell_stocks_form #submit_btn:hover {
    background: linear-gradient(0deg, #ffc2f0, rgba(233, 43, 111, 0.67));
}

/* Battle modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_wrapper {
    width: 360px;
    height: 400px;
    margin: 8% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: scroll;
}

.modal_wrapper::-webkit-scrollbar {
    display: none;
}

.modal_wrapper .form {
    position: absolute;
    top: 30px;
    left: 40px;
    transition: 0.5s;
    width: 80%;
}

.battleModal_next_button,
.battleModal_back_button {
    margin-top: 20px;
    font-size: 60px;
    cursor: pointer;
    color: #ef70e4;
    border-radius: 50%;
    box-shadow: 0 0.1px 0.3px -5px #98e9e7, 0 0.3pc 1pc #e873fe;
}

#battle_form #stock_input {
    width: 30%;
}

#battle_form .step_btn_box {
    display: flex;
}

#battle_form #step_btn_box_1 {
    justify-content: flex-end;
    margin-top: 159px;
}

#battle_form #step_btn_box_2 {
    margin-top: 12px;
    justify-content: space-between;
}

#battle_form #step_btn_box_3 {
    margin-top: 125px;
    justify-content: space-between;
}

#step_2_btns_wrapper {
    display: flex;
}

.prediction_btn_container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    border: solid black;
    height: 200px;
    width: 140px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 2s ease;
    color: rgb(10, 76, 151);
}

.prediction_btn_container .title {
    text-align: center;
}

.prediction_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.prediction_icon {
    font-size: 73px;
}

#battle_form #amount_and_currency {
    display: flex;
    justify-content: center;
}

#battle_form #battle_amount_input {
    height: 80px;
    padding: 15px;
    border-radius: 15px;
    font-size: 30px;
    width: 100%;
}

#battle_form #currency_symbol {
    display: flex;
    align-items: center;
    font-size: 30px;
    width: 30%;
}

#battleModal_step2 {
    left: 450px;
}

#battleModal_step3 {
    left: 450px;
}

#battleModal_step4 {
    left: 450px;
}

#battle_form .submit_btn {
    width: 50%;
    border-radius: 10px;
    background: linear-gradient(0deg, #ffc2f0, rgba(233, 43, 111, 0.47));
    padding: 10px;
    cursor: pointer;
}

/* choose stock modal */

#choose_stock_modal .modal_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 456px;
    background:linear-gradient(0deg, #ffc2f0, #f9a2fa);
}

#choose_stock_modal .stock_card {
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
    height: 210px;
    width: 210px;
    background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3));
    box-shadow: 0 3px 3px -5px #08a2ff, 0 2pc 5pc #08a2ff;
    cursor: pointer;
}

#choose_stock_modal .stock_card:hover {
    background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3));
}

#choose_stock_modal .identity_container {
    display: flex;
    justify-content: space-between;
}

#choose_stock_modal .stock_name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 5px;
    background: rgba(237, 116, 225, 0.47);
    font-size: 16px;
}

#choose_stock_modal .stock_symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 15px;
    background: rgba(66, 80, 203, 0.10);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    color: white;
}

#choose_stock_modal .stock_information_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#choose_stock_modal .stock_price {
    padding: 10px;
    background: #e280fc;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

#choose_stock_modal .stock_last_30_days_evolution {
    padding: 10px;
    background: rgba(57, 209, 127, 0.25);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

#choose_stock_modal .stock_img_container {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 15px;
}

#choose_stock_modal .stock_img_container img {
    max-width: 100%;
    max-height: 100%;
}

/* view_battle_request_modal */

#view_battle_request_modal_wrapper {
    padding: 25px;
    height: 117px;
}

/* Responsive website for tablets */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    /* login page */

    #login_form {
        height: 700px;
        width: 60%;
    }

    #login_form input {
        height: 80px;
        font-size: 30px;
    }

    #login_form button {
        font-size: 30px;
        padding: 30px 30px 58px 30px;

    }

    .main_nav_bar {
        font-size: 32px;
    }

    .main_boxes_row {
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .main_box {
        width: 92%;
        font-size: 30px;
    }

    .main_box_title {
        font-size: 44px;
    }

    #stats_buttons_container {
        height: 65px;
    }

    .battle_stats_box_container {
        font-size: 25px;
        width: 200px;
        margin: 0px 20px 0px 20px;
    }

    .battle_stats_box {
        width: 100%;
    }

    .battle_stats_box .context_word {
        display: none;
    }

    .stats_button {
        display: flex;
        align-items: center;
        font-size: 29px;
        width: 50%;
        justify-content: center;
    }

    #battle_friends_box_wrapper {
        padding: 35px 35px 0px 35px;
    }

    #battle_friends_box_wrapper .profile_box_container {
        padding-top: 44px;
        width: 10%;
    }

    .progress_bar {
        width: 100%;
    }

    .victory_rate_box_container {
        width: 34%;
        margin: 0px 10px 0px 10px;
    }

    .battle_btn .fight_text {
        font-size: 30px;
    }
    
    .battle_btn i {
        font-size: 30px;
    }

    /* battle request wrapper */

    #battle_requests_box {
        height: 400px;
    }

    .battle_request_box_wrapper {
        height: 130px;
        padding: 15px 0px 15px 15px;
    }

    .battle_request_box_wrapper .profile_box_container {
        width: 15%;
        margin: 0px;
    }

    .view_battle_request_btn {
        width: 40%;
    }

    .profile_first_name {
        margin-top: 14px;
    }

    /* fight modal */

    #battle_modal h2 {
        font-size: 25px;
    }

    #battle_modal .modal_wrapper {
        height: 550px;
    }

    .chosen_stock_container {
        height: 90px;
        font-size: 25px;
        padding: 24px;
    }

    .prediction_btn_container {
        font-size: 25px;
        margin: 0px 5px 0px 5px;
        height: 335px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .prediction_btn_container .title{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .prediction_icon_container {
        margin-bottom: 16px;
    }

    #battle_form .submit_btn {
        font-size: 25px;
    }

    #battle_form #step_btn_box_1 {
        margin-top: 215px;
    }

    #battle_form #step_btn_box_2 {
        margin-top: -13px;
    }

    #battle_form #step_btn_box_3 {
        margin-top: 131px;
    }

    #battle_form #battle_amount_input {
        margin-top: 100px;
    }

    /* choose_stock_modal */

    #choose_stock_modal .modal_wrapper {
        height: 800px;
    }

    #choose_stock_modal .stock_card {
        height: 360px;
        width: 66%;
    }

    #choose_stock_modal .stock_name {
        font-size: 37px;
    }

    #choose_stock_modal .stock_symbol {
        font-size: 29px;
    }

    #choose_stock_modal .identity_container {
        margin-bottom: 22px;
    }

    #choose_stock_modal .stock_img_container {
        height: 162px;
    }

    #choose_stock_modal .stock_information_container {
        justify-content: space-evenly;
    }

    #choose_stock_modal .stock_price,
    #choose_stock_modal .stock_last_30_days_evolution {
        font-size: 29px;
    }

    /* buy or sell stocks box */

    #buy_or_sell_stocks_form #submit_btn {
        font-size: 25px;
    }

    /* View the challenge modal */

    #view_battle_request_modal .modal_wrapper {
        height: 600px;
        font-size: 38px;
        padding-top: 80px;
    }

}

/* Responsive website for smartphones */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /* login page */

    #login_form {
        height: 900px;
        width: 60%;
    }

    #login_form h1 {
        font-size: 40px;
    }

    #login_form input {
        height: 80px;
        font-size: 30px;
    }

    #login_form button {
        font-size: 30px;
        padding: 50px;
        display: flex;
        align-items: center;

    }

    .main_boxes_row {
        flex-direction: column;
    }

    .main_nav_bar {
        font-size: 32px;
    }

    .main_boxes_row {
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .main_box {
        width: 92%;
        font-size: 30px;
    }

    .main_box_title {
        font-size: 50px;
    }

    /* stats box */

    .stats_button {
        display: flex;
        align-items: center;
        font-size: 41px;
        width: 50%;
        justify-content: center;
    }

    /* battle box */

    .profile_picture_container {
        height: 80px;
        width: 80px;
    }

    .progress_bar {
        width: 100%;
    }

    #battle_friends_box_wrapper .profile_box_container {
        padding-top: 44px;
        width: 14%;
    }

    .profile_first_name {
        margin-top: 14px;
    }

    .battle_stats_box_container {
        margin: 0px 20px 0px 20px;
    }

    .battle_stats_box {
        width: 100%;
        font-size: 38px;
    }

    .battle_stats_box .context_word {
        display: none;
    }

    .victory_rate_box_container {
        width: 34%;
        margin: 0px 20px 0px 20px;
        padding-top: 28px;
    }

    .victory_rate_box_container h3 {
        text-align: center;
    }

    .battle_btn {
        height: 100px;
    }

    .battle_btn .fight_text {
        font-size: 30px;
    }
    
    .battle_btn i {
        font-size: 30px;
    }
    
    /* battle modal */

    #battle_modal .modal_wrapper {
        height: 1000px;
    }

    #battle_modal h2 {
        font-size: 44px;
    }

    #battle_modal .chosen_stock_container {
        margin-top: 124px;
    }

    .chosen_stock_container {
        height: 211px;
        font-size: 35px;
        padding: 24px;
    }

    #step_2_btns_wrapper {
        flex-direction: column;
    }

    .prediction_btn_container {
        font-size: 40px;
        margin: 5px 5px 5px 5px;
        height: 335px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    #battle_form #battle_amount_input {
        margin-top: 170px;
        height: 215px;
        text-align: center;
        font-size: 40px;
    }

    #battle_form .submit_btn {
        font-size: 32px;
    }

    #battle_form #step_btn_box_1 {
        margin-top: 309px;
    }

    #battle_form #step_btn_box_3 {
        margin-top: 229px;
    }

    /* choose stock modal */

    #choose_stock_modal .modal_wrapper {
        height: 1100px;
    }

    #choose_stock_modal .stock_card {
        height: 460px;
        width: 75%;
    }

    #choose_stock_modal .stock_name {
        font-size: 50px;
    }

    #choose_stock_modal .stock_symbol {
        font-size: 40px;
    }

    #choose_stock_modal .identity_container {
        margin-bottom: 22px;
    }

    #choose_stock_modal .stock_img_container {
        height: 230px;
    }

    #choose_stock_modal .stock_information_container {
        justify-content: space-evenly;
    }

    #choose_stock_modal .stock_price,
    #choose_stock_modal .stock_last_30_days_evolution {
        font-size: 40px;
    }

    /* battle_requests_box */

    #battle_requests_box {
        height: 400px;
    }

    .battle_request_box_wrapper {
        height: 162px;
        padding: 10px 0px 10px 10px;
    }

    .view_battle_request_btn {
        text-align: center;
    }

    /* Buy or sell stocks */

    #buy_or_sell_stocks_form #stock_amount_input {
        font-size: 110px;
    }

    #buy_or_sell_stocks_form #submit_btn {
        font-size: 40px;
    }

    /* View the challenge modal */

    #view_battle_request_modal .modal_wrapper {
        height: 600px;
        font-size: 40px;
        padding-top: 80px;
    }
}


