<div class="modal" id="choose_stock_modal" style="display:none;">
    <div class="modal_wrapper choose_stock_modal_stop" aria-hidden="true" roles="dialog" aria-labelled-by="modal_title">
        {% for stock in all_stocks %}
            <div class="stock_card">
                <div>{{ stock.companyName }}</div>
                <div>{{ stock.symbol }}</div>
                <div>{{ stock.currentPrice }}</div>
                <div class="stock_img_container">
                    <img src="{{ stock.logo }}">
                </div>
            </div>
        {% endfor %}
    </div>
</div>