<nav class="main_nav_bar">    
    <a href="#buy_sell_stock_box">Buy stocks</a>
    <a href="#battle_requests_box">Battle requests</a>
    {% if app.user %}
        <a href="{{ path('app_logout') }}">
            <li>Logout</li>
        </a>
    {% else %}
        <a href="{{ path('app_login') }}">
            <li>Login</li>
        </a>
    {% endif %}
</nav>